<% if signed_in? %>

    <h2>What's up, <%= current_user.name%>?</h2>
    <%= render 'shared/micropost_form' %>

   	<%= render 'shared/user_info' %>
  
<% else %>
 	<h2>Sample App</h2>

  <p>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "btn big" %>
<% end %>